<div class="container">
  @if (errors()) {
    <div class="error-container">
      @for (e of errors(); track $index) {
        <p class="error-text">{{e}}</p>
      }
    </div>
  } @else {
    <div class="chat-container">
      <div class="messages">
        @for (message of messages; track $index) {
          <div [class.user-message]="message.fromUser" [class.bot-message]="!message.fromUser">
            {{ message.text }}
          </div>
        }
        @if (loading()) {
          <div>
            loading...
          </div>
        }
      </div>
      <div class="input-container">
        <textarea [(ngModel)]="message" type="text" placeholder="Type a message..."></textarea>
      </div>
      <button class="submit-message" (click)="sendMessage()">Send</button>
    </div>
  }
</div>
